In [17]:
%load_ext autoreload
%aimport -pandas, -numpy
%autoreload 2
import pandas as pd
import numpy as np
import arrow
from dfsm import msgFSM

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [44]:
import dmyplant2
dmyplant2.cred()
mp = dmyplant2.MyPlant(3600)
sn = 1345851
e=dmyplant2.Engine.from_sn(mp,sn, valstart='22.10.2020')
e.dash

{'Name': 'GAZ DE LACQ',
 'Engine ID': 'M03',
 'Design Number': 'X077',
 'Engine Type': '616',
 'Engine Version': 'J12',
 'P': 16,
 'P_nom': 2744.9,
 'BMEP': 22.0,
 'serialNumber': '1345851',
 'id': 117227,
 'Count_OpHour': 15965.0,
 'val start': Timestamp('2020-10-22 00:00:00'),
 'oph@start': 0,
 'oph parts': 15965,
 'LOC': None}

In [45]:
e.lookup_Installed_Fleet(mp,e._sn)

{'Count_OpHour': 15965.0,
 'OperationalCondition': 'Running',
 'startup_counter': 148.0,
 'shutdown_counter': 147.0,
 'id': 117227,
 'Engine Version': 'J12',
 'Engine Type': '616',
 'Engine Series': '6',
 'Country': 'FR',
 'Commissioning Date': '2018-10-31',
 'Design Number': 'X077',
 'serialNumber': '1345851',
 'Power_PowerNominal': 2679.0,
 'Para_Speed_Nominal': 1500.0,
 'starts_oph_ratio': 0.014,
 'Control System Type': 'XT4',
 'Engine ID': 'M03',
 'IB Unit Commissioning Date': '2018-10-31',
 'IB NOX': '250 mg/Nm3',
 'IB Frequency': '50',
 'IB Item Description Engine': 'ENG JMS 616 J12 50__J_X077',
 'IB Site Name': 'GAZ DE LACQ',
 'IB Status': 'Active Docu incomplete',
 'Contract.Warranty End Date': nan,
 'Contract.Warranty Start Date': nan,
 'Module_Vers_HalIO': '4.4.0.1.5'}

In [47]:

e.get_messages()

,index,assetId,isPrimary,message,name,severity,timestamp,associatedValues
0,47845,117227,NaN,Collective message: Software module status rep...,1991,700,1536765826555,NaN
1,47844,117227,NaN,Collective message: Software module reports wr...,1999,700,1536765826681,NaN
2,47843,117227,NaN,Collective message: Software module status rep...,1992,700,1536765826685,NaN
3,47842,117227,NaN,Service selector switch Off,1225,600,1536765829148,NaN
4,47841,117227,NaN,Ready for automatic off,1230,600,1536765829155,NaN
...,...,...,...,...,...,...,...,...
47841,4,117227,False,Hourly message,9007,600,1644989830478,NaN
47842,3,117227,False,Hourly message,9007,600,1644993430818,NaN
47843,2,117227,False,Hourly message,9007,600,1644997030656,NaN
47844,1,117227,False,Hourly message,9007,600,1645000630551,NaN
47845,0,117227,False,Hourly message,9007,600,1645004230533,NaN