In [1]:
%reload_ext autoreload
%aimport -pandas, -numpy
%autoreload 2
import pandas as pd
import numpy as np
from dfsm import msgFSM

In [ ]:
fsm = msgFSM(1184199)
fsm.run()

In [ ]:
fsm.store()

In [16]:
fsm = msgFSM(1184199, frompickle=True)

In [18]:
rdf = pd.DataFrame(fsm._starts)
#rda = rdf[((rdf['mode'] == 'MANUAL') & (rdf['success'] == True) & (rdf['start-preparation'] < 1000.0))]
rdf

,success,mode,starttime,endtime,cumtime,start-preparation,starter,hochlauf,idle,synchronize,net-parallel
0,False,MANUAL,2016-06-24 14:55:09,2016-06-24 15:15:11,1201,1201,NaN,NaN,NaN,NaN,NaT
1,False,AUTO,2016-06-24 15:22:20,2016-06-24 15:22:24,4,4,NaN,NaN,NaN,NaN,NaT
2,False,AUTO,2016-06-24 15:28:04,2016-06-24 15:35:41,457,249,0.0,10.0,196.0,NaN,NaT
3,False,AUTO,2016-06-27 04:08:06,2016-06-27 04:12:44,277,249,0.0,10.0,16.0,NaN,NaT
4,True,AUTO,2016-06-27 04:55:07,2016-06-27 04:58:49,145,127,0.0,10.0,5.0,1.0,0 days 00:01:15
...,...,...,...,...,...,...,...,...,...,...,...
440,True,MANUAL,2022-01-17 14:50:14,2022-01-17 15:01:07,563,438,5.0,17.0,100.0,0.0,0 days 00:01:30
441,False,MANUAL,2022-01-18 09:06:26,2022-01-18 09:26:30,1203,1203,NaN,NaN,NaN,NaN,NaT
442,True,MANUAL,2022-01-25 14:11:26,2022-01-25 14:20:07,235,179,4.0,21.0,7.0,22.0,0 days 00:04:45
443,True,MANUAL,2022-01-26 16:13:16,2022-01-26 16:21:12,235,181,5.0,19.0,6.0,22.0,0 days 00:04:01
444,True,MANUAL,2022-01-26 16:30:56,2022-01-26 16:34:22,193,137,5.0,19.0,6.0,23.0,0 days 00:00:12

In [19]:
round((rdf[rdf.success].shape[0] / rdf.shape[0]) * 100,1)

45.6