In [1]:
%reload_ext autoreload
%aimport -pandas, -numpy
%autoreload 2
import pandas as pd
import numpy as np
from dfsm import msgFSM

In [14]:
fsm = msgFSM(1184199)
fsm.run()

8133034491it [00:43, 186714817.71it/s]

In [3]:
fsm.store()

In [16]:
fsm = msgFSM(1184199, frompickle=True)

In [22]:
rdf = pd.DataFrame(fsm._starts)
rda = rdf[((rdf['mode'] == 'AUTO') & (rdf['success'] == True) & (rdf['start-preparation'] < 1000.0))]
rda.round(2)

,success,mode,starttime,endtime,cumtime,start-preparation,starter,hochlauf,idle,synchronize,net-parallel
4,True,AUTO,2016-06-27 04:55:07,2016-06-27 04:58:49,145.91,127.23,0.91,10.31,5.95,1.51,0 days 00:01:15
5,True,AUTO,2016-06-27 05:11:22,2016-06-27 05:25:41,148.02,123.78,0.91,10.20,6.06,7.07,0 days 00:11:51
9,True,AUTO,2016-06-27 06:22:27,2016-06-27 06:31:27,271.65,248.64,0.91,10.19,6.15,5.76,0 days 00:04:28
18,True,AUTO,2016-06-27 10:09:06,2016-06-27 10:59:57,404.36,242.58,0.91,10.23,146.50,4.14,0 days 00:38:16
41,True,AUTO,2016-06-28 09:10:49,2016-06-28 09:15:12,167.74,126.66,5.06,17.33,15.84,2.84,0 days 00:01:35
...,...,...,...,...,...,...,...,...,...,...,...
428,True,AUTO,2021-09-07 17:44:10,2021-09-07 17:55:31,226.47,168.52,4.94,21.16,8.15,23.71,0 days 00:07:34
431,True,AUTO,2021-11-20 20:26:07,2021-11-20 21:57:26,183.86,126.70,4.44,21.35,7.44,23.93,0 days 01:28:15
432,True,AUTO,2021-11-21 03:36:19,2021-11-27 02:27:37,271.90,215.47,4.53,20.96,7.36,23.58,5 days 22:46:46
434,True,AUTO,2021-12-08 13:17:30,2021-12-15 06:02:44,318.59,264.06,4.93,20.73,7.32,21.54,6 days 16:39:55
439,True,AUTO,2022-01-17 14:28:10,2022-01-17 14:36:45,420.57,228.01,5.83,20.75,159.63,6.35,0 days 00:01:34

In [23]:
round((rdf[rdf.success].shape[0] / rdf.shape[0]) * 100,1)

45.6

In [25]:
rda.describe().round(2)

,cumtime,start-preparation,starter,hochlauf,idle,synchronize,net-parallel
count,158.00,158.00,158.00,158.00,158.00,158.00,158
mean,358.32,224.11,5.89,22.99,28.41,76.92,1 days 19:07:04
std,644.33,117.10,1.56,26.56,67.71,632.91,2 days 18:49:21.485696504
min,145.91,123.78,0.91,10.19,5.95,1.51,0 days 00:00:00
25%,220.35,166.51,4.95,17.69,7.24,14.64,0 days 00:09:14.250000
50%,268.05,180.23,5.36,19.02,9.11,20.36,0 days 11:56:38.500000
75%,333.23,265.66,7.17,21.16,9.83,24.89,2 days 17:30:09.500000
max,8106.20,949.61,10.80,212.32,527.14,7940.31,14 days 02:32:47