In [1]:
import pandas as pd
import numpy as np

In [2]:
edf = {'Commissioning Date':'2019-01-09'}
#valstart='07.02.2020'
#valstart='2020/02/07'
valstart='02/07/2020'
if not valstart: # take Commissioning date if no valstart date is given. 
    valstart = pd.to_datetime(edf['Commissioning Date'],infer_datetime_format=True)
else:
    valstart = pd.to_datetime(valstart,infer_datetime_format=True)
ts = int(valstart.timestamp()*1e3)

#.astype(str), format('%Y-%m-%d')
type(valstart)
valstart.date().strftime('%Y-%m-%d')

'2020-02-07'

In [3]:
sn=None 
n=None 
name=None 
valstart = None
oph_start=None
start_start=None 
id = None
Old_Parts_first_replaced_OPH=None
Old_Parts_replaced_before_upgrade=None

not any([sn,name,valstart,oph_start,start_start,id])
all([sn,name,valstart,oph_start,start_start,id])

False

In [4]:
sn=1320072
n=0
name='BMW Landshut 4.10 M4' 
valstart = '2019-01-09 00:00:00'
oph_start=6316
start_start=768 
id = 117617
Old_Parts_first_replaced_OPH=1742
Old_Parts_replaced_before_upgrade=4

not any([sn,name,valstart,oph_start,start_start,id])
all([sn,name,valstart,oph_start,start_start,id])

True

In [5]:
l = [858, 3, 23, 6, 55, 138]
l

[858, 3, 23, 6, 55, 138]

In [6]:
z = l
z[1:] = np.diff(np.cumsum(l))
z

[858, 3, 23, 6, 55, 138]

In [7]:
import pandas as pd
import numpy as np
ix = np.linspace(1,100,100)
x = pd.DataFrame(ix)

In [8]:
g = [10*x for x in range(10)]
x[x[0].astype(int).isin(g)]

       0
9   10.0
19  20.0
29  30.0
39  40.0
49  50.0
59  60.0
69  70.0
79  80.0
89  90.0

In [9]:
date = np.array('2022-03-05 13:18:30', dtype=np.datetime64)

In [10]:
date + np.arange(0, 300, 30)

array(['2022-03-05T13:18:30', '2022-03-05T13:19:00',
       '2022-03-05T13:19:30', '2022-03-05T13:20:00',
       '2022-03-05T13:20:30', '2022-03-05T13:21:00',
       '2022-03-05T13:21:30', '2022-03-05T13:22:00',
       '2022-03-05T13:22:30', '2022-03-05T13:23:00'],
      dtype='datetime64[s]')

In [13]:
def todate(ts):
    return pd.to_datetime(ts * 1000000).strftime('%d.%m.%Y %H:%M:%S')
ts = 1641802493836
todate(ts)

'10.01.2022 08:14:53'

In [22]:
from ipywidgets import interact, interactive, fixed, interact_manual
import ipywidgets as widgets


from IPython.display import display
w = widgets.IntSlider(min=0,max=10)
display(w)

IntSlider(value=0, max=10)

In [23]:
print(w.value)

5