## Statemachine test

In [1]:
import pandas as pd
import numpy as np

In [8]:
import dmyplant2
dmyplant2.cred()
mp = dmyplant2.MyPlant(3600)
#e=dmyplant2.Engine.from_sn(mp,1184199)
#e=dmyplant2.Engine.from_sn(mp,1319133)
e=dmyplant2.Engine.from_sn(mp,1345851)
# print(f"{e}")
e.dash
# dtrips = e.batch_hist_alarms(p_severities=[600,650,700,800], p_offset=0, p_limit=200000)
# dtrips = dtrips.iloc[::-1] # Alarme umdrehen 
# dtrips.to_pickle('/data/1184199_messages.pkl')
# manual = e.batch_hist_alarms(p_severities=[600], p_offset=0, p_limit=200000)
# manual = manual.iloc[::-1] # Alarme umdrehen 
# manual.to_pickle('/data/1184199_manual.pkl')
# manual = pd.read_pickle('/data/1184199_manual.pkl').reset_index()
# manual.head()

{'Name': 'GAZ DE LACQ',
 'Engine ID': 'M03',
 'Design Number': 'X077',
 'Engine Type': '616',
 'Engine Version': 'J12',
 'P': 16,
 'P_nom': 2744.9,
 'BMEP': 22.0,
 'serialNumber': '1345851',
 'id': 117227,
 'Count_OpHour': 15847.0,
 'val start': Timestamp('2018-10-31 00:00:00'),
 'oph@start': 0,
 'oph parts': 15847,
 'LOC': None}

In [16]:
mp._fetch_installed_base()

,Count_OpHour,OperationalCondition,startup_counter,shutdown_counter,id,Engine Version,Engine Type,Engine Series,Country,Commissioning Date,...,Engine ID,IB Unit Commissioning Date,IB NOX,IB Frequency,IB Item Description Engine,IB Site Name,IB Status,Contract.Warranty End Date,Contract.Warranty Start Date,Module_Vers_HalIO
0,0.0,Decommissioned,745.0,746.0,5,E01,612,6,NL,2004-08-13,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,74800.0,Decommissioned,3128.0,3129.0,7,E166,620,6,NL,2005-12-16,...,M01,2005-12-16,500,50,ENG JMS 620 E166,"Groenewegen, J.A.",Temporarily Inactive,NaN,NaN,NaN
2,70021.0,Running,3551.0,3558.0,9,E170,616,6,NL,2007-12-01,...,M02,2007-12-01,500,50,ENG JMS 616 E170,Varekamp 2,Active,NaN,NaN,NaN
3,58014.0,No Contact,765.0,766.0,11,E166,616,6,NL,2006-07-10,...,M01,2006-07-10,500,50,ENG JMS 616 E166,Zwinkels Kwekerij,Active,NaN,NaN,NaN
4,61062.0,Available,5582.0,5586.0,12,C05,320,3,NL,2005-06-30,...,M01,2005-06-30,500,50,ENG JMS 320 C05,Wetering Potlilium 320,Active,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29154,NaN,Never Connected,NaN,NaN,174636,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29155,NaN,Never Connected,NaN,NaN,174637,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29156,NaN,Never Connected,NaN,NaN,174638,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29157,NaN,Never Connected,NaN,NaN,174639,E01,620,6,BD,2022-02-08,...,M01,2009-02-03,500,NaN,Repairs.ENG.RSB.620.Bill 51,Shajibazar,Active,NaN,NaN,NaN
29158,NaN,Never Connected,NaN,NaN,174640,E01,620,6,BD,2022-02-11,...,M17,2009-02-03,500,NaN,Repairs.ENG.RSB.620.Bill 52,Shajibazar,Active,NaN,NaN,NaN

In [17]:
e['Engine Version']
e['Product Program']

'2017'

In [18]:
pd.to_datetime(e['Commissioning Date'])

Timestamp('2018-10-31 00:00:00')

In [19]:
cdts = int(pd.to_datetime(e['Commissioning Date']).timestamp() * 1e3)
cdts

cdts_from = cdts - 24*60*60 * 15 * 1e3

cdts_from, cdts

(1539648000000.0, 1540944000000)

In [12]:
e.batch_hist_alarms(p_severities=[600,650,700,800], p_limit=500000)

,assetId,isPrimary,message,name,severity,timestamp,associatedValues
0,117227,False,Hourly message,9007,600,1644997030656,NaN
1,117227,False,Hourly message,9007,600,1644993430818,NaN
2,117227,False,Hourly message,9007,600,1644989830478,NaN
3,117227,False,Hourly message,9007,600,1644986229826,NaN
4,117227,False,Hourly message,9007,600,1644982629851,NaN
...,...,...,...,...,...,...,...
47839,117227,NaN,Ready for automatic off,1230,600,1536765829155,NaN
47840,117227,NaN,Service selector switch Off,1225,600,1536765829148,NaN
47841,117227,NaN,Collective message: Software module status rep...,1992,700,1536765826685,NaN
47842,117227,NaN,Collective message: Software module reports wr...,1999,700,1536765826681,NaN
47843,117227,NaN,Collective message: Software module status rep...,1991,700,1536765826555,NaN

In [20]:
e.lookup_Installed_Fleet(mp,e._sn)

{'Count_OpHour': 15965.0,
 'OperationalCondition': 'Running',
 'startup_counter': 148.0,
 'shutdown_counter': 147.0,
 'id': 117227,
 'Engine Version': 'J12',
 'Engine Type': '616',
 'Engine Series': '6',
 'Country': 'FR',
 'Commissioning Date': '2018-10-31',
 'Design Number': 'X077',
 'serialNumber': '1345851',
 'Power_PowerNominal': 2679.0,
 'Para_Speed_Nominal': 1500.0,
 'starts_oph_ratio': 0.014,
 'Control System Type': 'XT4',
 'Engine ID': 'M03',
 'IB Unit Commissioning Date': '2018-10-31',
 'IB NOX': '250 mg/Nm3',
 'IB Frequency': '50',
 'IB Item Description Engine': 'ENG JMS 616 J12 50__J_X077',
 'IB Site Name': 'GAZ DE LACQ',
 'IB Status': 'Active Docu incomplete',
 'Contract.Warranty End Date': nan,
 'Contract.Warranty Start Date': nan,
 'Module_Vers_HalIO': '4.4.0.1.5'}

In [3]:
#from dfsm import msgFSM
messages = pd.read_pickle('./data/1184199_messages.pkl').reset_index()
messages.shape[0]

127539

In [6]:
# with open('msg.txt', 'w') as f:
#     for index, msg in messages.iterrows():
#         f.write(f"{index:>06} {msg['severity']} {msg['timestamp']} {pd.to_datetime(int(msg['timestamp'])*1e6).strftime('%d.%m.%Y %H:%M:%S')}  {msg['name']} {msg['message']}\n")

In [18]:
tsfrom = int(messages.iloc[-1]['timestamp'])
tsfrom

1644578114024

In [5]:
tsnow = int(pd.Timestamp.now().timestamp() * 1e3)
tsnow

1644941398571

In [22]:
new_messages = e.batch_hist_alarms(p_severities=[600,650,700,800], p_from=tsfrom, p_to=tsnow)[::-1].reset_index()
new_messages

     index  assetId  isPrimary          message  name  severity      timestamp
0      131   108532      False   Hourly message  9007       600  1644578114024
1      130   108532      False   Hourly message  9007       600  1644581714513
2      129   108532      False   Hourly message  9007       600  1644585314859
3      128   108532      False  Acknowledgement  1256       600  1644587438705
4      127   108532      False   Hourly message  9007       600  1644588914567
..     ...      ...        ...              ...   ...       ...            ...
127      4   108532      False   Hourly message  9007       600  1644916521660
128      3   108532      False   Hourly message  9007       600  1644920121407
129      2   108532      False   Hourly message  9007       600  1644923721158
130      1   108532      False   Hourly message  9007       600  1644927320924
131      0   108532      False   Hourly message  9007       600  1644930921684

[132 rows x 7 columns]

In [6]:
test_messages = e.batch_hist_alarms(p_severities=[600,650,700,800], p_to=tsnow, p_limit=100)

In [7]:
test_messages

    assetId  isPrimary         message  name  severity      timestamp
0    108532      False  Hourly message  9007       600  1644934521767
1    108532      False  Hourly message  9007       600  1644930921684
2    108532      False  Hourly message  9007       600  1644927320924
3    108532      False  Hourly message  9007       600  1644923721158
4    108532      False  Hourly message  9007       600  1644920121407
..      ...        ...             ...   ...       ...            ...
95   108532      False  Hourly message  9007       600  1644614115360
96   108532      False  Hourly message  9007       600  1644610514967
97   108532      False  Hourly message  9007       600  1644606914624
98   108532      False  Hourly message  9007       600  1644603314786
99   108532      False  Hourly message  9007       600  1644599715181

[100 rows x 6 columns]

In [23]:
messages.tail(3)

,index,assetId,isPrimary,message,name,severity,timestamp,associatedValues
127536,2,108532,False,Hourly message,9007,600,1644570914503,NaN
127537,1,108532,False,Hourly message,9007,600,1644574514200,NaN
127538,0,108532,False,Hourly message,9007,600,1644578114024,NaN

In [24]:
new_messages.head(3)

   index  assetId  isPrimary         message  name  severity      timestamp
0    131   108532      False  Hourly message  9007       600  1644578114024
1    130   108532      False  Hourly message  9007       600  1644581714513
2    129   108532      False  Hourly message  9007       600  1644585314859

In [25]:
new_messages.tail(3)

     index  assetId  isPrimary         message  name  severity      timestamp
129      2   108532      False  Hourly message  9007       600  1644923721158
130      1   108532      False  Hourly message  9007       600  1644927320924
131      0   108532      False  Hourly message  9007       600  1644930921684

In [ ]:
# with open('manual.txt', 'w') as f:
#     for index, msg in manual.iterrows():
#         f.write(f"{index:>06} {msg['severity']} {pd.to_datetime(int(msg['timestamp'])*1e6).strftime('%d.%m.%Y %H:%M:%S')} {msg['name']} {msg['message']}\n")

In [4]:
for index, msg in messages[:100000].iterrows():
    if str(msg['message']).startswith('Ready'):
    #if str(msg['message']).startswith('Cold start CPU'):
    #if str(msg['message']).startswith('Service selector'):
        pass
        #print(f"{index:>06} {msg['severity']} {pd.to_datetime(int(msg['timestamp'])*1e6).strftime('%d.%m.%Y %H:%M:%S')} {msg['name']} {msg['message']}")

In [10]:
from IPython.display import HTML, display
m = messages[messages.name != '9007'] # filter out hourly messages
m = m[:]
display(HTML(m[:5].to_html(escape=False)))

In [12]:
from dfsm import Start_FSM
from pprint import pprint as pp
result = pd.DataFrame(Start_FSM(m))

,warnings,alarms,operations,mode,msg
0,[],[],"[[127537, 108532, nan, Cold start CPU, 1254, 6...",FSM-start,index 127537 assetId ...
1,[],[],"[[126441, 108532, nan, Service selector switch...",mode-manual,index 12...
2,"[[126421, 108532, False, Measuring signal fail...","[[126423, 108532, nan, Gas alarm, 1053, 800, 1...","[[126431, 108532, nan, Demand oil pump on, 125...",mode-off,index 12639...
3,"[[126421, 108532, False, Measuring signal fail...","[[126423, 108532, nan, Gas alarm, 1053, 800, 1...","[[126431, 108532, nan, Demand oil pump on, 125...",mode-off,index 12639...
4,[],[],"[[126389, 108532, nan, Service selector switch...",mode-automatic,index ...
...,...,...,...,...,...
2801,"[[146, 108532, False, Lifetime reached - NOx s...","[[36, 108532, False, Jacket water pressure low...","[[279, 108532, False, Demand oil pump on, 1259...",mode-off,index 3...
2802,"[[146, 108532, False, Lifetime reached - NOx s...","[[36, 108532, False, Jacket water pressure low...","[[279, 108532, False, Demand oil pump on, 1259...",mode-off,index 3...
2803,[],[],"[[13, 108532, False, Service selector switch M...",mode-manual,index ...
2804,[],[],"[[8, 108532, False, Service selector switch Of...",mode-off,index ...
2805,[],[],"[[6, 108532, False, Service selector switch Ma...",mode-manual,index ...

In [15]:

result.iloc[0]['operations']

[index                       127537
 assetId                     108532
 isPrimary                      NaN
 message             Cold start CPU
 name                          1254
 severity                       600
 timestamp            1466768043798
 associatedValues               NaN
 Name: 1, dtype: object]